.category-badge {
  position: absolute;
  top: 10px;
  left: 10px;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 0.9em;
}
.category-service {
  background-color: #6a4c93;
} /* Adjust colors as needed */
.category-gastronomy {
  background-color: #b02a37;
}

.card-text small {
  display: block;
  margin-top: 5px;
}

.card-body .link {
  display: inline-block;
  margin-top: 10px;
}

.color-gold {
  color: #c3b197;
}
button#search-shops-button{
  background-color: #fff !important;
}
.category-filter .form-label{
  font-weight: 600;
}
#category-filter:focus,
#search-shops-input:focus{
  border-color: #A50F19 !important;
  box-shadow: none !important;
}
button#search-shops-button,
button#btn-shop-load-more {
    color: #A50F19 !important;
    border-color: #A50F19 !important;
}
button#search-shops-button:hover,
button#btn-shop-load-more:hover{
	background-color: #A50F19 !important;
	color: #fff !important;
}

.loader-container {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  height: 50vh !important;
}

.loader {
  width: 48px;
  height: 48px;
  border: 5px solid #A50F19;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  }

  @keyframes rotation {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
  } 