.category-badge {
    position: absolute;
    top: 10px;
    left: 10px;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 0.9em;
}
.category-service { background-color: #6a4c93; } /* Adjust colors as needed */
.category-gastronomy { background-color: #b02a37; }

.card-text small {
    display: block;
    margin-top: 5px;
}

.card-body .link {
    display: inline-block;
    margin-top: 10px;
}